
body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	padding-top: 4px;
}

div.sprite_logo {
	background: url(tier2-small.png);
	width: 185px;
	height: 82px;
}

@media
	only screen and (min-device-pixel-ratio: 2),
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (-moz-min-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1) {
		div.sprite_logo {
			background: url(tier2-small@2x.png);
			background-size: 185px 82px;
		}
}

.bold { font-weight: bold; }
.red { color: #ff5370; }
.link { color: #0000ff; cursor: pointer; }
/* show/hide buttons */
.show { color: #0000ff; cursor: pointer; }
.hide { color: #0000ff; cursor: pointer; display: none; }

table.table {
	margin-bottom: 5px;
}

td {
	padding: 1px 4px 1px 4px;
	margin: 1px 3px 1px 10px;
	border: 1px solid white;
	vertical-align: top;
}

th {
	vertical-align: top;
}

table td, table th {
	font-size: 11px;
}

/* poller log */

li.poll-log pre {
	border: none;
	padding: 0px;
	font-size: 10px;
	margin: 0px;
	background: none;
}

/* server detail */

#popup1-content {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	margin: 0;
	padding: 15px;
	max-width: 90%;
}

#popup1-content > .list-group {
	max-height: 90vh;
	overflow-y: auto;
	box-shadow: 0 3px 5px rgba(0,0,0,0.125);
}

#popup1-content .pull-right > .glyphicon {
	margin-left: 15px;
}
