
body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	padding: 10px;
}

div.sprite_logo {
	background: url(tier2-small.png);
	width: 185px;
	height: 82px;
}

@media
	only screen and (min-device-pixel-ratio: 2),
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (-moz-min-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1) {
		div.sprite_logo {
			background: url(tier2-small@2x.png);
			background-size: 185px 82px;
		}
}

.grey { color: #666; }
.bold { font-weight: bold; }
.red { color: #ff5370; }
.rxerr { color: #0000ff; cursor: pointer; }
.rxerr_red { color: #ff5370; cursor: pointer; }
.link { color: #0000ff; cursor: pointer; }
/* show/hide buttons */
.show { color: #0000ff; cursor: pointer; }
.hide { color: #0000ff; cursor: pointer; display: none; }

td {
	padding: 1px 4px 1px 4px;
	margin: 1px 3px 1px 10px;
	border: 1px solid white;
	vertical-align: top;
}

th {
	vertical-align: top;
}

table td, table th {
	font-size: 11px;
}


/* tooltip */

div.ttip {
	position: absolute;
	left: 100px;
	top: 100px;
	background: #ffffff;
	font-size: 11px;
	width: 300px;
	z-index: 80;
	border: 1px solid #ff0000;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 8px 8px 3px rgba(0,0,0,0.5);
	display: none;
}

/* poller log */

li.poll-log pre {
	border: none;
	padding: 0px;
	font-size: 10px;
	margin: 0px;
	background: none;
}
