<!DOCTYPE html>
<html ng-app='aprs2status'>
<head>
<title>aprs2.net service status poller</title>
<meta name="lang" content="en" />
<meta http-equiv="Content-Type" content="application/xhtml+xml;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/aprs2status.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
</head>

<body ng-controller="a2stat">

<div class='text-muted' style='position: fixed; bottom: 5px; right: 5px;'>event seq {{ evq.seq }} que {{ evq.len }}</div>

<div class='container'>

 <div class="row">
   <div class="col-md-3 col-sm-3"><div class="sprite_logo"></div></div>
   <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="net in nets">
   	<b>{{ net.name }} Status</b><br />
   	14/17 servers OK</br />
   	123 users<br />
   </div>
 </div>

<div class="row" id='popup1-content' ng-show='shownServer.config'>
<ul class="list-group">
<li class="list-group-item" ng:class="shownServer.status.status == 'ok' ? 'list-group-item-success' : 'list-group-item-danger'"><b>{{ shownServer.config.id }}</b>
	<span ng:class="shownServer.status.status == 'ok' ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-fire'"></span>
	<span>  </span>
	<span ng-show="shownServer.status.props.score"> <span><span class='glyphicon glyphicon-stats'></span> {{ shownServer.status.props.score | number : 1 }}</span></span>
	<span class='pull-right'>
		<span class='glyphicon glyphicon-list' ng:click="showLog = !showLog"></span><span class='pull-right glyphicon glyphicon-remove' ng:click="shownServer = 0"></span>
	</span>
	</li>
<li class="list-group-item" ng-show="shownServer.status.props.scorebase">
	Score base:
	<table class='table table-condensed table-striped' style='width: auto;'>
	<tr><th ng-repeat="(k, v) in shownServer.status.props.scorebase">{{ k }}</th></tr>
	<tr><td ng-repeat="(k, v) in shownServer.status.props.scorebase">{{ v[1] }}</td></tr>
	<tr><td ng-repeat="(k, v) in shownServer.status.props.scorebase">{{ v[0] | number : 1 }}</td></tr>
	</table>
	</li>
<li class="list-group-item list-group-item-danger" ng-show="shownServer.status.errors"><div ng-repeat="e in shownServer.status.errors">[{{ e[0] }}] {{ e[1] }}</div></li>
<li class="list-group-item poll-log" ng-show="showLog && shownLog"><pre>{{ shownLog.log }}</pre></li>
</ul>
</div>

<div class='row'>
<div class='table-responsive'>
<table class='table table-hover table-condensed'>
<tr><th ng:repeat="c in columns" ng:class="selectedCls(c[0])" ng:click="changeSorting(c[0])">{{c[1]}}</th></tr>
<tr ng-repeat="s in servers | orderBy : sort.column : sort.descending" ng-click="rowClick(s);"
	ng-class="{success: s.status.status=='ok', danger: s.status.status=='fail', keydown: s.duration==-1}">
	<td>{{ s.config.id }}</td> 
	<td>{{ s.status.props.soft }} {{ s.status.props.vers }}</td>
	<td>{{ s.status.props.os }}</td>
	<td>{{ s.status.last_test | datetime }}</td>
	<td>{{ s.status.last_ok | datetime }}</td>
	<td>{{ s.status.props.clients | number : 0 }}</td>
	<td>{{ s.status.props.worst_load | number : 1 }}</td>
	<td>{{ s.status.props.score | number : 0 }}</td>
	<td><span ng-repeat="e in s.status.errors">{{ e[0] }} </span></td>
	</tr>
</table>
</div>
</div>

</div>

<script type='text/JavaScript' src='jquery.min.js'></script>
<!--[if lte IE 8]><script type='text/JavaScript' src='excanvas.min.js'></script><![endif]-->
<script type='text/JavaScript' src='jquery.flot.min.js'></script>
<script type='text/JavaScript' src='a2stat.js'></script>

</body>
</html>
