
[Unit]
Description=aprs2.net DNS driver
After=redis-server.service

[Service]
Type=simple
WorkingDirectory=/opt/aprs2net-backend/poller
ExecStart=/opt/aprs2net-backend/poller/aprs2net-dns.py dns-driver.conf
TimeoutStopSec=30
KillMode=mixed
User=t2poll
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

